<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿ {{ error }} ?</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}" />
</head>
<body>
    <section>
        <center class="text-gray-700">
            <h1>No hemos logrado procesar su busqueda</h1>
            <p>¿{{ error }}?</p>
        </center>
    </section>
</body>